mixin user-brief()  
  .user-brief
    .ava-wrap
      .ava(style="background: url(images/users/avatar-thumb/1484683_1561940894077088_2024802714702940365_n.jpg);background-position: center center; background-size: contain")
